<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/maplibre-gl.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='js/maplibre-gl.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>
        <style>
            body {  margin-left: 2%; margin-right:5%; padding: 0; }
            html, body, #map { height: 90%; }
        </style>
            
        
        <title>
            {% block title%}

            {% endblock %}
        </title>
        {{ turbo() }}
        {% block head%}

        {% endblock %}

    </head>
    <body>
        <!-- Navbar here -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">MVP GUI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('home_page') }}" data-turbo="false">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('systems_page') }}" data-turbo="false">Systems & Tools</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('power_manager_page') }}">Power Manager</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('mission_page') }}">Mission</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('map_page') }}" data-turbo="false">Map</a>
                    </li>                    
                </ul>
                <!-- <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Register</a>
                    </li>
                </ul> -->
            </div>
            
        </nav>

        {% block content%}

        {% endblock %}

        <!-- Future Content here -->
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{{ url_for('static', filename='js/fontawesome.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        {% block script%}

        {% endblock %}
        
    </body>
    <style>
        body {
        background-color: #212121;
        color: white
        }
    </style>
</html>