{% extends "base.html" %}
{% block title%}
  Map View
{% endblock %}

{% block content%}  

<h4> Controller State </h4>
{% include "tables/controller_table.html" %}

<h4>Mission State machine Managers</h4>
{% include "tables/states_table.html" %}

  <h4>Color indicators</h4>
  <h6><span style="color: red;">First Waypoint</span></h6>
  <h6><span style="color: green;">Last Waypoint</h6>
  <h6><span style="color: lightskyblue;">Vehicle Position</h6>

  <form action="/map" method="post">
    <input type="hidden" name="publish" value="publish" >
    <button type="submit"> Publish waypoints </button>  
  </form>
    {% include "tables/map_table.html" %}
{% endblock %}
