<!DOCTYPE html>
<html lang="en">
<head>
    <title>Display a satellite map</title>
    <meta property="og:description" content="Display a satellite raster baselayer." />
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://unpkg.com/maplibre-gl@4.2.0/dist/maplibre-gl.css' />
    <script src='https://unpkg.com/maplibre-gl@4.2.0/dist/maplibre-gl.js'></script>
    <script src="https://api.maptiler.com/maps/hybrid/style.json?key=get_your_own_OpIi9ZULNHzrESv6T2vL"></script>
    <style>
        #map { margin-left: 0%; margin-right:0%; padding: 0; }
        html, body, #map { height: 100%}
    </style>

    {{ turbo() }}
</head>
<body>
    
    <div id="map"></div>
    <script>
        
        const jsonData = {{ items_jsn | safe }};
        const map = new maplibregl.Map({
            container: 'map',
            zoom: 9,
            center: [-71.421376, 41.491393], //long lat
            style:
                'https://api.maptiler.com/maps/hybrid/style.json?key=get_your_own_OpIi9ZULNHzrESv6T2vL'
        });
        map.addControl(new maplibregl.NavigationControl());

        // const marker = new maplibregl.Marker()
        //     .setLngLat([-71.42000000, 41.50000000])
        //     .addTo(map);

        jsonData.forEach(item => {
            const marker = new maplibregl.Marker()
            .setLngLat([item.lon, item.lat])
            .addTo(map);
        });

    
    </script>
</body>
</html>