<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">Controller state</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="controllerState"></td>
            <td>
                <form action="/map" method="post">
                    <input type="hidden" name="controller_disable">
                    <button type="submit">Disable</button>
                </form>
            </td>
            <td>
                <form action="/map" method="post">
                    <input type="hidden" name="controller_enable">
                    <button type="submit">Enable</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">Current state</th>
            <th scope="col">Connected states</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="currentState"></td>
            <td id="connectedStates"></td>
        </tr>
    </tbody>
</table>

<script>

    let intervalId_heml = null;

    document.addEventListener('turbo:load', () => {
        if (intervalId_heml === null) {
            // Start a new interval for fetching data
            intervalId_heml = setInterval(function() {
                fetch('/mission/states') // Update with your API endpoint
                    .then(response => response.json())
                    .then(data => {
                        updateTables(data); // Call the function to update the tables
                    })
                    .catch(error => console.error('Error fetching controller state:', error));
            }, 1000); // Update every second
        }        

    });

    // Stop the interval when navigating away from the page
    document.addEventListener('turbo:before-render', () => {
        clearInterval(intervalId_heml);
    });


    function updateTables(data) {
        // Update controller state cell
        document.getElementById('controllerState').textContent = data.controller_data.state;

        // Update the current state cell
        if (data.helm_state_data.length > 0) {
            document.getElementById('currentState').textContent = data.helm_state_data[0].name;
        }

        // Update the connected states cell
        const connectedStatesCell = document.getElementById('connectedStates');
        connectedStatesCell.innerHTML = ''; // Clear the cell

        data.helm_state_data.slice(1).forEach(state => {
            const form = document.createElement('form');
            form.action = '/map';
            form.method = 'post';

            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'states';
            input.value = state.name;

            const button = document.createElement('button');
            button.type = 'submit';
            button.textContent = state.name;

            form.appendChild(input);
            form.appendChild(button);
            connectedStatesCell.appendChild(form);
        });
    }
</script>
