
<h4> Connection Manager</h4>
<form action="/systems" method="post">
    <label for="hostname">Host Name:</label>
    <input type="text" id="hostname" name="hostname" value="{{ remote_hostname }}">
    
    <label for="username">User name:</label>
    <input type="text" id="username" name="username" value="{{ remote_username }}">
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br>
    
    <input type="submit" value="Connect" name="ssh_connect">
    <input type="submit" value="Disconnect" name="ssh_disconnect">
</form>

<p style="color: lightskyblue;"> 
    Hostname: {{ remote_hostname }} 
    <br>
    Connectivity: {{ remote_connection }}
</p>
<br>

<h4> ROS Core Manager</h4>
<p style="color: lightskyblue;"> ROS Core status: {{ roscore_status }} </p>
<table class="table table-hover table-dark">
<form action="/systems" method="post">
    <input type="hidden" name="roscore_start">
    <button type="submit">Start ROS Core</button>
</form>
<form action="/systems" method="post">
    <input type="hidden" name="roscore_stop">
    <button type="submit">Stop ROS Core </button>
</form>
<form action="/systems" method="post">
    <input type="hidden" name="kill_all_nodes">
    <button type="submit">Kill all ROS Nodes</button>
</form>
<form action="/systems" method="post">
    <input type="hidden" name="rosnode_cleanup">
    <button type="submit">Cleanup ROS Nodes </button>
</form>
</table>

<h4> ROS Process Manager</h4>


<form action="/systems" method="post">
    <label for="roslaunch_folder">Launch File Folder:</label>
    <input type="roslaunch_folder" id="roslaunch_folder" name="roslaunch_folder" value="{{ roslaunch_folder }}" style="width: 600px;"><br>
    <input type="submit" value="Get ROS Launch List" name="roslaunch_list">
</form>
<table class="table table-hover table-dark">
<thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Names</th>
        <th scope="col">Actions</th>
        <th scope="col"> </th>
    </tr>
</thead>
<tbody>
    <!-- Loop through each item in roslaunch_config list -->
    {% for item in launch_list %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>
                <form action="/systems" method="post">
                    <input type="hidden" name="launch" value="{{ item.id }}">
                    <button type="submit">Launch</button>
                </form>
            </td>
            <td>
                <form action="/systems" method="post">
                    <input type="hidden" name="info" value="{{ item.id }}">
                    <button type="submit">Info</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>
<br>
<div style="display: flex;">
    <form action="/systems" method="post">
        <input type="hidden" name="rosnode_list">
        <button type="submit">Get ROS Nodes</button>
    </form>
    <form action="/systems" method="post">
        <input type="hidden" name="rostopic_list">
        <button type="submit">Get ROS Topics</button>
    </form>
</div>
<br>

<h6>Node lists</h6>
<table class="table table-hover table-dark">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col"> Action</th>
    </tr>
    </thead>
    <tbody>
        <!-- Loop through each item in roslaunch_config list -->
        {% for item in node_list %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>
                <form action="/systems" method="post">
                    <input type="hidden" name="kill_node" value="{{ item.id }}">
                    <button type="submit">Kill</button>
                </form>
            </td>
            </tr>
        {% endfor %}
    </tbody>
</table>



<h6>Topic lists</h6>
<table class="table table-hover table-dark">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
        <!-- Loop through each item in roslaunch_config list -->
        {% for item in topic_list %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>