<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Package</th>
            <th scope="col">Launch</th>
            <th scope="col">Nodes</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- Loop through each item in roslaunch_config list -->
        {% for item in roslaunch_config %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.package_name }}</td>
                <td>{{ item.launch_name }}</td>
                <td>{{ item.node_names }}</td>
                <td>
                    <form action="/systems" method="post">
                        <input type="hidden" name="launch" value="{{ item.id }}">
                        <button type="submit">Launch</button>
                    </form>
                    <form action="/systems" method="post">
                        <input type="hidden" name="kill" value="{{ item.id }}">
                        <button type="submit">Kill</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
