<h4>Vehicle Power status</h4>

<table class="table table-hover table-dark table-bordered">
    <thead>
        <tr>
            <th scope="col" bgcolor="rgba(255, 255, 0)">Voltage [V]</th>
            <th scope="col" bgcolor="rgba(255, 255, 0)">Current [Amp]</th>
        </tr>
    </thead>
    <tbody id="vital-data">
        <tr>
            <td id="voltage"></td>
            <td id="current"></td>
        </tr>
    </tbody>
</table>

<h4>Vehicle Geo Position</h4>
<!-- Latitude, Longitude, and Altitude Table -->
<table class="table table-hover table-dark table-bordered">
    <thead>
        <tr>
            <th scope="col" bgcolor="rgba(255, 255, 0)">latitude [deg]</th>
            <th scope="col" bgcolor="rgba(255, 255, 0)">longitude [deg]</th>
            <th scope="col" bgcolor="rgba(255, 255, 0)">altitude [m]</th>
        </tr>
    </thead>
    <tbody id="position-data">
        <tr>
            <td id="latitude"></td>
            <td id="longitude"></td>
            <td id="altitude"></td>
        </tr>
    </tbody>
</table>

<h4>Vehicle pose</h4>
<!-- Pose Information Table -->
<table class="table table-hover table-dark table-bordered">
    <thead>
        <tr>
            <th scope="col" bgcolor="rgba(255, 255, 0)">frame_id</th>
            <th scope="col" bgcolor="rgba(255, 255, 0)">x [m]</th>
            <th scope="col" bgcolor="rgba(255, 255, 0)">y [m]</th>
            <th scope="col" bgcolor="rgba(255, 255, 0)">z [m]</th>
            <th scope="col" bgcolor="rgba(255, 255, 0)">roll [deg]</th>
            <th scope="col" bgcolor="rgba(255, 255, 0)">pitch [deg]</th>
            <th scope="col" bgcolor="rgba(255, 255, 0)">yaw [deg]</th>
        </tr>
    </thead>
    <tbody id="pose-data">
        <tr>
            <td id="frame_id"></td>
            <td id="x"></td>
            <td id="y"></td>
            <td id="z"></td>
            <td id="roll"></td>
            <td id="pitch"></td>
            <td id="yaw"></td>
        </tr>
    </tbody>
</table>

<!-- Child Frame Information Table -->
<table class="table table-hover table-dark table-bordered">
    <thead>
        <tr>
            <th scope="col" bgcolor="rgba(255, 255, 0)">child_frame_id</th>
            <th scope="col" bgcolor="rgba(255, 255, 0)">u [m/s]</th>
            <th scope="col" bgcolor="rgba(255, 255, 0)">v [m/s]</th>
            <th scope="col" bgcolor="rgba(255, 255, 0)">w [m/s]</th>
            <th scope="col" bgcolor="rgba(255, 255, 0)">p [deg/s]</th>
            <th scope="col" bgcolor="rgba(255, 255, 0)">q [deg/s]</th>
            <th scope="col" bgcolor="rgba(255, 255, 0)">r [deg/s]</th>
        </tr>
    </thead>
    <tbody id="child-frame-data">
        <tr>
            <td id="child_frame_id"></td>
            <td id="u"></td>
            <td id="v"></td>
            <td id="w"></td>
            <td id="p"></td>
            <td id="q"></td>
            <td id="r"></td>
        </tr>
    </tbody>
</table>

<script>
    let intervalId_vehicle_status = null;
    const updateInterval_vehicle_status = 1000;

    /** TURBO **/
    // // Start the interval when on the page
    // document.addEventListener('turbo:load', () => {
    //     if (intervalId_vehicle_status === null){
    //         intervalId_vehicle_status = setInterval(updateTables, updateInterval_vehicle_status)
    //     }
    // });

    // // Stop the interval when navigating away from the page
    // document.addEventListener('turbo:before-render', () => {
    //     if (intervalId_vehicle_status !== null) {
    //         console.log("status clear")
    //         clearInterval(intervalId_vehicle_status);
    //     }        
    // });

    // Function to start the interval
    function startvsInterval() {
        if (intervalId_vehicle_status === null) {
            intervalId_vehicle_status = setInterval(() => updateTables(), updateInterval_vehicle_status);
        }
    }

    // Function to stop the interval
    function stopvsInterval() {
        if (intervalId_vehicle_status !== null) {
            clearInterval(intervalId_vehicle_status);
            intervalId_vehicle_status = null;
        }
    }

    // Event listener for page visibility change
    document.addEventListener('visibilitychange', () => {
        if (document.visibilityState === 'visible') {
            startvsInterval();
        } else {
            stopvsInterval();
        }
    });

    // Initial check to start the interval if the page is already visible
    if (document.visibilityState === 'visible') {
        startvsInterval();
    }


    function updateTables() {
        fetch('/vehicle_status/states')
            .then(response => response.json())
            .then(data => {
                const { pose_data, vital_data } = data;

                // Populate vital data
                document.getElementById('voltage').textContent = vital_data.voltage;
                document.getElementById('current').textContent = vital_data.current;

                // Populate position data
                document.getElementById('latitude').textContent = pose_data.lat;
                document.getElementById('longitude').textContent = pose_data.lon;
                document.getElementById('altitude').textContent = pose_data.z;

                // Populate pose data
                document.getElementById('frame_id').textContent = pose_data.frame_id;
                document.getElementById('x').textContent = pose_data.x;
                document.getElementById('y').textContent = pose_data.y;
                document.getElementById('z').textContent = pose_data.z;
                document.getElementById('roll').textContent = pose_data.roll;
                document.getElementById('pitch').textContent = pose_data.pitch;
                document.getElementById('yaw').textContent = pose_data.yaw;

                // Populate child frame data
                document.getElementById('child_frame_id').textContent = pose_data.child_frame_id;
                document.getElementById('u').textContent = pose_data.u;
                document.getElementById('v').textContent = pose_data.v;
                document.getElementById('w').textContent = pose_data.w;
                document.getElementById('p').textContent = pose_data.p;
                document.getElementById('q').textContent = pose_data.q;
                document.getElementById('r').textContent = pose_data.r;
            }) 
    }

</script>
