<div id="mission_map" class="mission_map">
    <h4>Interactive Waypoint Commands</h4>
    <table class="table table-hover table-dark">
        <tbody>
            <td>
            <h3>Red Marker: First Waypoint</h3>
            <!-- </td> -->
            <!-- <td> -->
            <form action="/mission" method="post">
                <!-- <input type="hidden" name="refressh_map" value="refresh_map" > -->
                <!-- <button type="submit"> Update Map </button>   -->
                <button onclick="refreshPage()"> Update Map</button>
                <!-- JavaScript function to refresh the page -->
                <script>
                    function refreshPage() {
                        // Use the location object to reload the current page
                        location.reload();
                    }
                </script>
            </form>
            </td>
        </tbody>
    </table>

</div>